.cont-total{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%; height: 50%;
    flex-wrap: wrap;
    background: linear-gradient(to right, hsla(43, 85%, 73%, 0.468), hsla(0, 0%, 98%, 0))
}
.contenido{
    display: flex;
    flex-direction: column;
}