.t-als{
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
    
}
.t-als h2{
    font-size: 30px;
    
    margin-top: 30px;
    color: rgb(250, 249, 249);
    align-items: center;
    margin-bottom: 50px;
    
}
.t-als h3{
    color: white;
    margin-top: 100px;
    margin-bottom: 30px;
}
.t-als h1{
    color: rgb(239, 216, 101);
    font-size: 30px;
}