.imagen img{
    margin-top: 0px;
    height: 300px;
    justify-content: center;
    image-rendering: crisp-edges;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
}
.backg{
    
    height: 800px;
    background: linear-gradient(to right, hsla(43, 25%, 89%, 0), hsla(16, 83%, 60%, 0.616)), url(img/images.jpg);
}