.container {
    width: 100%;
    height: 300px;background: linear-gradient(to right, hsla(43, 24%, 89%, 0.468), hsla(16, 83%, 60%, 0.616)), url(img/images.jpg);
}

.text {
    color: #FFF;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    font-weight: 700;
    font: italic bold 30px Georgia, Serif;
    text-shadow: -4px 3px 0 #060606, -14px 7px 0 #0a0e27;
}

.card__contact {
    min-width: 375px;
    height: 220px;
    background: #20212A;
    border-radius: 50px 0 50px 0;
    position: relative;
    padding: 30px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 3px solid #625619;
    color: #222;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.card__contact:hover {
    z-index: 9;
    box-shadow: 10px 0px 10px 5px #B2EA70;
    border: 5px solid #B2EA70;
    transform: translateY( 10px);
    transform: translateX( 10px);
    transform: scale( 1.20) rotate( -2deg);
}

.card__icon {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
    position: absolute;
    top: -25px;
    right: -25px;
}

.card__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.card__info span {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
}

.card__info p {
    font-size: 1.2em;
    font-weight: 600;
    color: #bbb;
}

.card__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #edd;
    font-size: 1.3em;
    font-weight: 600;
}

.card__wha {
    color: #edd;
    font-size: 1.3em;
    font-weight: 600;
}

.card__phone span {
    color: white;
}

.card__wha span {
    color: white;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: grid;
    grid-auto-rows: minmax( 100px, auto);
    grid-auto-flow: dense;
    grid-template-columns: repeat( auto-fill, minmax( 230px, 3fr));
    /* max columns 3 */
    gap: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 90px;
    z-index: 1;
    justify-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background: #20212A;
    padding: 50px;
    z-index: 1;
    box-size: border-box;
}

.contact-form form {
    box-size: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
    background: #20212A;
    padding: 50px;
    z-index: 1;
}

.contact-form input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 0 20px;
    font-size: 1.2em;
    box-size: border-box;
    color: #fff;
    background: #20212A;
    transition: all 0.3s ease-in-out;
}

.contact-form input:focus {
    border: 1px solid #B2EA70;
    box-shadow: 0 0 10px #B2EA70;
}

.contact-form label {
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 10px;
    box-size: border-box;
}

.contact-form small {
    font-size: 0.8em;
    color: #fff;
    margin-bottom: 10px;
}

.form-check {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* width: 100%; */
    height: 100%;
    background: #20212A;
    z-index: 1;
}

.form-check input {
    width: 30px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 0 20px;
    font-size: 1.2em;
    box-size: border-box;
    color: #fff;
    background: #20212A;
    transition: all 0.3s ease-in-out;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    background: #20212A;
    z-index: 1;
}

.form-group textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 0 20px;
    font-size: 1.2em;
    box-size: border-box;
    color: #fff;
    background: #20212A;
    transition: all 0.3s ease-in-out;
}

.contact-form button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 0 20px;
    font-size: 1.2em;
    box-size: border-box;
    color: #fff;
    background: #20212A;
    transition: all 0.3s ease-in-out;
}

.map {
    width: 100%;
    height: 600px;
    background: #20212A;
}

.map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body {
    padding-bottom: 0 !important;
}