.page-title{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: white;   
}

header div div h1{
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color:black;
    font-weight: 800;
    /*text-align: center;*/
}

.cpe> p:nth-child(1){
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.cpe> p:nth-child(2){
    font-size: 18px;
    font-weight: 400;
    color: darkgray;
}

.duba> p:nth-child(1){
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.duba> p:nth-child(2){
    font-size: 18px;
    font-weight: 400;
    color: darkgray;
}