*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.page-title{
    display:flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    padding: 0 2rem;
    background-color: white;   
}

header div h1{
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    color:black;
    font-weight: 800;
    /*text-align: center;*/
}

.leyes-text{
    margin-left: 24px;
    margin-right: 24px;
}

.container-ley{
    border: var(verde);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 12px;
}

.title-ley{
    background-color: #cbf294;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.title-ley p{
    margin-left: 12px;
    margin-right: 12px;
}

.text-ley{
    font-size: 18px;
    font-weight: 400;
    color: dimgray;
}

.text-ley p{
    margin-left: 12px;
    margin-right: 12px;
}

.text-ley #articulo{
    margin-left: 12px;
}

.edicion-fecha{
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
}

.e-f-negrilla{
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.e-f-text{
    margin-left: 8px;
    margin-right: 8px;
    font-size: 18px;
    font-weight: 400;
    color: dimgray;
}

.leyes-pdf{
    display: flex;
    flex-direction: row;
    border: var(verde);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 12px;   
    max-width: 500px;
}

.pdf-description{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 18px;
    font-weight: 400;
    color: dimgray;
}

.botonPdf{
    display: flex;
    justify-content: center;
    text-align: center;
}

.pdfStyle{
    position: absolute;
    width: '100%';
    height: '100%';
}