@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

:root{
    --verdeClaro:rgb(197,218,1);
    --verde: rgb(130,153,1);
    --cafe:rgb(61,25,25);
    --celeste:rgb(13,77,94);
    --celesteClaro:rgb(73,165,173);
    --textColor: rgb(255,255,255);
    --azulmar:rgb(0,42,56);
}

